/* You can add global styles to this file, and also import other style files */

/* All text font*/
body, h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'UPS Berlingske Sans'; /* Replace with your desired font */
  }
  
  .bold {
    font-weight: 600;
  }
  
  .mb-10 {
    margin-bottom: 10px !important;
  }
  
  .mb-15 {
    margin-bottom: 15px !important;
  }
  
  .mb-20 {
    margin-bottom: 20px !important;
  }
  
  .mb-30 {
    margin-bottom: 30px !important;
  }
  
  .mr-10 {
    margin-right: 100px !important;
  }
  
  .pd-2 {
    padding: 2% !important;
  }
  
  .pd-4 {
    padding: 4% !important;
  }
  
  .pd-5 {
    padding: 5% !important;
  }
  
  .pd-6{
    padding: 6%;
  }

  .pd-8 {
    padding: 8% !important;
  }
  
  .pd-2-4 {
    padding: 2% 4%;
  }
  
  .pd-bottom-5{
  padding-bottom: 5%;
  }
  
  .pd-lr-4{
    padding-left: 4%;
    padding-right: 4%;
  }

  .pd-lr-3{
    padding-left: 3%;
    padding-right: 3%;
  }

  .pd-lr-2{
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .lgText {
    font-size: large;
  }
  
  .mdText {
    font-size: medium;
  }
  
  .smText {
    font-size: small;
  }
  
  .top-padding {
    padding-top: 5% !important;
  }
  
  .body-background {
    background-color: #F6F4F5;
  }
  
  .spacer-3 {
    margin-top: 3%;
  }

  .spacer-1 {
    margin-top: 1%;
  }