<header class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-holder">
          <!-- Logo -->

          <div class="logo">
            <a href="/">
              <img src="assets/PVD-Assist-Logo.svg" alt="home" class="home-img">
            </a>
          </div>


          <!-- Right side content -->
          <div class="right-side">

            <button class="profile-icon btn btn-primary btn-sm"><img src="assets/profile_icon.svg" /></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>






