<div class="body-background">
    <div class="container">
      <div class="">
        <div class="top-padding"></div>
  
        <!-- <div class="row">
          <img src="assets/road-rotated.gif" alt="" />
        </div> -->
  
        <div class="row">
          <div class="spacer-3"></div>
          <div class="col">
            <h2 class="main-heading">Almost There...</h2>
            <p>Let’s figure out how much space within your car is available</p>
          </div>
        </div>
  
        <div class="row">

  
          <div class="col-md-12 col-sm-12">
            <div class="card mb-15" style="width: 100%">
              <div class="mb-10"></div>
              <!-- <a href="#"> -->
              <div class="card-body pd-4">
                <div class="row mb-10">
                  <form>
                    <div class="row mb-10">
                      <div class="col-lg-6 col-md-12 col-sm-12">
                        <button class="btn btn-success ups-green" type="submit">Skip - Only Trunk Space Available&nbsp;<i class="bi bi-skip-end"></i></button>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12"></div>
                    </div>
                    <div class="row mb-20"></div>
                
                    <div class="row mb-20">
                      <div class="col-lg-6 col-md-12 col-sm-12 mb-10">
                        <label for="backseat_row">Does your entire backseat row fold down?</label>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          id="backseat_row"
                        >
                          <option value="" selected disabled>Select One</option>
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                          <option value="unsure">Not Sure</option>
                         
                        </select>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <label for="seats_available">How many seats are available for packages?</label>
                        <select
                          class="form-select"
                          aria-label="Defaultselect example"
                          id="seats_available"
                        >
                          <option value="" selected disabled value="">
                            Select One
                          </option>
                          <option value="0">None</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3 L">3</option>
                          <option value="4">4</option>
                         
                        </select>
                      </div>
                    </div>
                   
                    <div class="row mb-10">
                      <div class="col-lg-6 col-md-12 col-sm-12 ">
                          <button routerLink="/find-vehicle" type="button" class="btn btn-outline-primary "><i class="bi bi-chevron-left"></i>&nbsp;Back To Vehicle Search</button>&nbsp;
                          <button routerLink="/results" class="btn btn-success ups-green" type="submit">Get Estimate&nbsp;<i class="bi bi-chevron-right"></i></button>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12"></div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-1"></div>
    <div class="top-padding"></div>
  </div>
  