<div class="body-background">
  <div class="container">
    <div class="">

    <div class="top-padding"></div>

    <div class="row center pd-lr-4">
      <div class="col">
        <img src="assets/vehicle-sedan.svg" alt="" />
      </div>

      <div class="col">
        <img src="assets/vehicle-suv.svg" alt="" />
      </div>

      <div class="col">
        <img src="assets/vehicle-coupe.svg" alt="" />
      </div>

      <div class="col">
        <img src="assets/vehicle-minivan.svg" alt="" />
      </div>
      <div class="col">
        <img src="assets/vehicle-van.svg" alt="" />
      </div>
    </div>
    <!-- <div class="row">
      <img src="assets/road-rotated.gif" alt="" />
    </div> -->

    <div class="row ">
      <div class="spacer-3"></div>
      <div class="col">
        <h2>Let's Get You On Your Way</h2>
        <p>
          First, we have to figure out what you’re driving. You can enter your
          vehicle details or simply scan your vehicle license plate
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-12">
        <div class="card mb-15" style="width: 100%">
          <div class=""></div>
          <a href="#">
            <div class="card-body pd-8">
              <div class="row">
                <div class="col">
                  <div class="icon-container">
                    <img src="assets/icon-form.svg" width="100" />
                  </div>
                </div>

                <h5 class="card-title">Enter Vehicle Details</h5>
                <p class="card-text">Enter your car’s year, make, and model</p>
              </div>
            </div>
          </a>
        </div>
      </div>



      <div class="col-md-4 col-sm-12">
        <div class="card mb-15" style="width: 100%">
          <div class=""></div>
          <a href="#">
            <div class="card-body pd-8">
              <div class="row">
                <div class="col">
                  <div class="icon-container">
                    <img src="assets/icon-scan.svg" width="100" />
                  </div>
                </div>

                <h5 class="card-title">Scan License Plate</h5>
                <p class="card-text">Scan/Upload your license plate</p>
              </div>
            </div>
          </a>
        </div>
      </div>



      <div class="col-md-4 col-sm-12">
        <div class="card mb-15" style="width: 100%">
          <div class=""></div>
          <a href="#">
            <div class="card-body pd-8">
              <div class="row">
                <div class="col">
                  <div class="icon-container">
                    <img src="assets/icon-vin.svg" width="100" />
                  </div>
                </div>

                <h5 class="card-title">Retrieve with VIN</h5>
                <p class="card-text">Enter your vehicle identification number</p>
              </div>
            </div>
          </a>
        </div>
      </div>


    </div>
    </div>
  </div>
  <div class="spacer-1"></div>
  <div class="top-padding"></div>
</div>
